.header-toolbar{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #00164D;
    height: 64px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.left-section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
}

.brand {
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
    font-size: 32px;
}

.rigth-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-toolbar button{
    color: white;
}

.header-toolbar button:hover mat-icon{
    opacity: 0.8;
}