.filter-panel {
    margin-bottom: var(--spacing-lg);
}

.filter-group {
    margin-bottom: var(--spacing-lg);
}

.filter-label {
    display: block;
    font-weight: 500;
    margin-bottom: var(--spacing-sm);
    color: var(--color-neutral-darkest);
}

.search-form {
    width: 100%;
}


.filter-input,
.filter-select {
    width: 100%;
    padding: 12px var(--spacing-md);
    border: 1px solid var(--color-neutral-light);
    border-radius: var(--radius-sm);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-neutral-white);
    transition: all var(--transition-normal);
}

.filter-input {
    padding-left: 44px;
}

.filter-input:focus,
.filter-select:focus {
    outline: none;
    border-color: var(--color-primary-light);
    box-shadow: 0 0 0 3px rgba(64, 90, 169, 0.1);
}

.filter-actions {
    display: flex;
    gap: var(--spacing-md);
}

.filter-actions .btn {
    flex: 1;
}

.active-filters {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
}

.active-filters .badge {
    cursor: pointer;
}

.icon-empty {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: var(--color-neutral-medium);
    margin: 0 auto var(--spacing-md);
}

.section-result {
    display: flex;
}

.result-card {
    cursor: pointer;
}

/* Match Cards */

.match-details-badges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.match-teams {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--spacing-xl);
    align-items: center;
}

.team-column {
    text-align: center;
}

.team-logo-large {
    width: 80px;
    height: 80px;
    border-radius: var(--radius-md);
    background-color: var(--color-primary-lightest);
    color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 auto var(--spacing-md);
}

.team-venue {
    font-size: 0.875rem;
    color: var(--color-neutral-dark);
    margin-top: var(--spacing-xs);
}

.match-center {
    text-align: center;
}

.vs-badge {
    width: 45px;
    height: 45px;
    border-radius: var(--radius-md);
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0 auto var(--spacing-md);
}

.match-datetime-large {
    font-size: 0.875rem;
    color: var(--color-neutral-dark);
    margin-bottom: var(--spacing-xs);
}

.match-time {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-neutral-darkest);
    margin-bottom: var(--spacing-xs);
}
